.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  max-width: 60vw;
}

.main p {
  max-width: 60vw;
line-height: 1.4;
text-align: justify;
}


.grid { 
list-style: none;
padding: 0;
margin-left: 0;
align-items: flex-start;
}

.grid img {
  max-width: 100%;
}